.nav-ul li{
  display: inline-block;
  padding: 10px;

}
.na-ul li a{
color: #fff;
padding: 5px;
text-decoration: none;

}
.nav-ul {
  padding: 5px;
  margin: 0;
  background-color:  rgb(126, 108, 28);
}
.nav-right{
  text-align: right;
}
.productlist{
  text-align: center;
  margin-top: 50px;
}
.productlist ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 7px;
  width: 150px;
}
.productlist ul{
  margin: 0px;
}
.search{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 10px;
  border-radius: 2px;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(126, 108, 28);
}
.register{
  margin-left:30%;
}
.logindiv{
  margin-left:30%;
  margin-top: 100px;
}
.appbutton {
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border : 1px solid;
  cursor: pointer;
}
.login{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}
.inputbox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}
.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info {
  margin-top: 20px;
}

.user-info p {
  margin-bottom: 10px;
  font-size: 16px;
}

.user-info strong {
  font-weight: bold;
  margin-right: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
